{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>

    <title>
        {% block title %}
            {% if seo_object.seo_title %}
                {{ seo_object.seo_title }}
            {% elif object.seo_title %}
                {{ object.seo_title }}
            {% else %}
                Rollwonders
            {% endif %}
        {% endblock %}
    </title>

    {% if site_setings.favicon %}
        <link rel="icon" type="image/x-icon" href="{{ site_settings.favicon.url }}">
    {% endif %}

    {# Meta tags #}

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    {% block seo_header %}

        {% if seo_object.seo_description %}
            <meta name="description" content="{{ seo_object.seo_description }}"/>
        {% elif object.seo_description %}
            <meta name="description" content="{{ object.seo_description }}"/>
        {% endif %}

        {% if seo_object.seo_keywords %}
            <meta name="keywords" content="{{ seo_object.seo_keywords }}"/>
        {% elif object.keywords %}
            <meta name="keywords" content="{{ object.seo_keywords }}"/>
        {% endif %}

        {% if seo_object.seo_title %}
            <meta property="og:title" content="{{ seo_object.seo_title }}"/>
        {% elif object.seo_title %}
            <meta property="og:title" content="{{ object.seo_title }}"/>
        {% endif %}

        {% if seo_object.seo_description %}
            <meta property="og:description" content="{{ seo_object.seo_description }}"/>
        {% elif object.seo_description %}
            <meta property="og:description" content="{{ object.seo_description }}"/>
        {% endif %}

    {% endblock %}

    {# Stylesheets #}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">

    {# Scripts #}
    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <script>
        // Timezone settings
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
        document.cookie = "django_timezone=" + timezone;
    </script>


    {#  Apply extra head html from site settings #}
    {% autoescape off %}{{ site_settings.extra_head_html }}{% endautoescape %}
    {# Extra head can be added in child html #}
    {% block extra_head %}{% endblock %}
</head>
<body>

<div class="__inset"></div>
<div id="preloader" class="preloader">
    <div class="preloader__logo">
        <img src="{% static 'assets/images/logos/logo.svg' %}" alt="">
    </div>
    <div class="preloader__letter-logo">
        <img src="{% static 'assets/images/logos/logo_letter.svg' %}" alt="">
    </div>
</div>

<div class="popup contacts-popup" data-popuptype="faq">
    <div class="popup__controller cta-button-mobile"></div>
    <div class="popup__title">Видеобзор бота</div>
    <div class="popup__content">
        <video
                src=""
        >

        </video>
    </div>
</div>


<div class="popup contacts-popup" data-popuptype="contacts">
    <div class="popup__controller cta-button-mobile"></div>
    <div class="popup__title">Связаться c нами</div>
    <div class="popup__content popup__content_col">
        <a href="tel:{{ contacts.phone }}" class="button button_color_accent">Позвонить {{ contacts.phone }}</a>
        <a href="" class="button button_color_subaccent">Написать ({{ contacts.tg_contact }})</a>
    </div>
</div>

{% block header %}
    {% include 'components/headers/main_header.html' %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    {% include 'components/footers/main_footer.html' %}
{% endblock %}

{# Apply extra body html from site settings #}
{% autoescape off %}{{ site_settings.extra_body_html }}{% endautoescape %}
{% csrf_token %}
<script type="module" src="{% static 'scripts/compiled/main.min.js' %}"></script>
</body>
</html>